/* #form {
    background-color: #be630d;
    padding-top: 2rem;
}

/* .banner {
    height: 100vh;
    background: url("/assets/bg.jpg") center;
    background-size: cover;
} */

/* .text-banner {
    text-align: center;
    margin-top: 12;
} */

body {
    background-color: rgb(240, 241, 241);
}
